body {
  margin: 0;
  font-family: "Segoe UI";
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

.home {
  text-align: center;
  margin-top: 80px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 30px;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  background: #ff7b00;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.card {
  background: white;
  color: black;
  margin: 30px auto;
  padding: 20px;
  width: 400px;
  border-radius: 15px;
}
.result {
  text-align: center;
  margin-top: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  color: white;
  margin: 30px auto;
  padding: 25px;
  width: 520px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.values p {
  font-size: 18px;
  margin: 6px 0;
}

.profit {
  color: #00ff9d;
  font-weight: bold;
}

.loss {
  color: #ff4d4d;
  font-weight: bold;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.signal {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.buy {
  color: #00ff9d;
}

.sell {
  color: #ff4d4d;
}

.hold {
  color: #ffaa00;
}